body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: #69768C;
    overflow: scroll;
}

canvas {
    border: 3px solid #24358A;
    background: white;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.mode {
    display: inline-block;
    border: 0px;
    margin: 17px;
    position: fixed;
    background-color: transparent;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

#pen {
    border: 0px;
    position: relative;
    background-color: transparent;
    width: 60px;
    height: 60px;
    background-image: url('./pic/pen.png');
    background-size: 100%;
}

#eraser {
    border: 0px;
    position: relative;
    background-color: transparent;
    width: 60px;
    height: 60px;
    background-image: url('./pic/eraser\ \(1\).png');
    background-size: 100%;
}

#rectangle {
    border: 0px;
    position: relative;
    background-color: transparent;
    width: 60px;
    height: 60px;
    background-image: url('./pic/stop\ \(1\).png');
    background-size: 100%;
}

#triangle {
    position: relative;
    background-color: transparent;
    width: 60px;
    height: 60px;
    background-image: url('./pic/bleach.png');
    background-size: 100%;
}

#circle {
    border: 0px;
    position: relative;
    background-color: transparent;
    width: 60px;
    height: 60px;
    background-image: url('./pic/dry-clean.png');
    background-size: 100%;
}

#text {
    border: 0px;
    position: relative;
    background-color: transparent;
    width: 60px;
    height: 60px;
    background-image: url('./pic/font.png');
    background-size: 100%;
}

#reset {
    border: 0px;
    position: relative;
    background-color: transparent;
    width: 60px;
    height: 60px;
    background-image: url('./pic/arrows-circle.png');
    background-size: 100%;
}

#undo {

    border: 0px;
    position: relative;
    background-color: transparent;
    width: 60px;
    height: 60px;
    background-image: url('./pic/back-arrow\ \(1\).png');
    background-size: 100%;
}

#redo {
    border: 0px;
    position: relative;
    background-color: transparent;
    width: 60px;
    height: 60px;
    background-image: url('./pic/redo-arrow.png');
    background-size: 100%;
}

#save {
    border: 0px;
    position: relative;
    background-color: transparent;
    width: 60px;
    height: 60px;
    background-image: url('./pic/file\ \(1\).png');
    background-size: 100%;
}

#uploadbutton {
    border: 0px;
    position: relative;
    background-color: transparent;
    width: 60px;
    height: 60px;
    background-image: url('./pic/file.png');
    background-size: 100%;
}

input[type="file"] {
    display: none;
}